@font-face {
  font-family: 'vuurjongen';
  src: url('assets/font/algerian-regular.ttf');
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

body {
    background-image: url("assets/img/achtergrond.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat
}
